# Local .terraform directories and files
**/.terraform/*
.terraform*
secrets/
terraform.tfvars
*.auto.tfvars
!.terraformrc
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars